<div class="leftcol" id="content">
    &nbsp;
    <ul class="menu">
        &nbsp;
        <li>@Html.ActionLink("Dagrapport", "Index", "Home")</li>
        <li>@Html.ActionLink("Maandrapport", "IndexM", "Home")</li>        
    </ul>

</div>
<div class="midcol" id="content">
    <div class="controller">
        @model SlimmeMeterPortaal.ViewModels.SMP_Report

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            <div class="form-horizontal">
                <h2 id="top">
                    @Html.DisplayFor(model => model.Message.Title) &nbsp;
                </h2>
                <p>
                    @Html.DisplayFor(model => model.Message.Tekst) &nbsp;
                </p>
                <hr />
                <table class="sy-table">
                    @if (Model.Devicelijst != null)
                    {
                        var j = Model.Devicelijst.Count;

                        for (var i = 0;  i < j; i++)
                        {
                            if (i == 0)
                            {
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Devicelijst[i].ReportDevice)</th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Devicelijst[i].DeviceType)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Devicelijst[i].DeviceID)
                                    </th>
                                </tr>
                            }
                            
                            <tr>
                                <td>
                                    @Html.CheckBoxFor(model => model.Devicelijst[i].ReportDevice,
                                            new { @class = "sy-input", @onclick = "Includeit(this)" })
                                    @Html.ValidationMessageFor(model => model.Devicelijst[i].ReportDevice, "", new { @class = "text-danger" })
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Devicelijst[i].DeviceType)

                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Devicelijst[i].DeviceID)

                                </td>
                            </tr>

                        }
                    }
                </table>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <dl class="sy-dl">
                   
                    <dt class="sy-dt">
                        @Html.LabelFor(model => model.ReferentieJaren)
                    </dt>
                    <dd class="sy-dd">
                        @Html.EditorFor(model => model.ReferentieJaren, new { htmlAttributes = new { @class = "sy-input40" } })
                        @Html.ValidationMessageFor(model => model.ReferentieJaren, "", new { @class = "text-danger" })
                    </dd>                   

                </dl>
                <div class="smp-inc">
                    @Html.EditorFor(model => model.IncludeGas)
                    @Html.EditorFor(model => model.IncludeStroom)
                    @Html.EditorFor(model => model.SMP_Guid)
                    @Html.EditorFor(model => model.Timestamp)
                </div>
               

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" formaction="/Home/MaandRapport" value="Maak Maandrapport" class="sy-button" />
                    </div>
                </div>
            </div>
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</div>
