@model SlimmeMeterPortaal.ViewModels.SMP_Report
<div class="leftcol" id="content">
    <ul class="menu">
        <li>@Html.ActionLink("Dagrapport", "Index", "Home")</li>
        <li>@Html.ActionLink("Maandrapport", "IndexM", "Home")</li>
        <li class="smp-skip">&nbsp;</li>
        <li><a href="#top">Input velden</a></li>
        <li id="smp-gas"><a href="#gas">Gas rapport</a></li>
        <li id="smp-stroom"> <a href="#elektriciteit">Elektriciteit rapport</a></li>
    </ul>

</div>
<div class="midcol" id="content">

    <div class="controller">


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


        <div class="form-horizontal">
            <h2 id="top">
                @Html.DisplayFor(model => model.Message.Title) &nbsp;
            </h2>
            <p>
                @Html.DisplayFor(model => model.Message.Tekst) &nbsp;
            </p>
            <hr />
            <table class="sy-table">
                @if (Model.Devicelijst != null)
                {
                    var i = 0;

                    foreach (var item in Model.Devicelijst)
                    {
                        if (i == 0)
                        {
                            <tr>
                                <th>@Html.DisplayNameFor(modelItem => item.ReportDevice)</th>
                                <th>
                                    @Html.DisplayNameFor(modelItem => item.DeviceType)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(modelItem => item.DeviceID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(modelItem => item.Startdate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(modelItem => item.LastDateWithData)
                                </th>
                            </tr>
                        }
                        i = i + 1;
            <tr>
                <td>
                    @Html.CheckBoxFor(modelItem => item.ReportDevice,
                         new { @class = "sy-input", @onclick = "Includeit(this)" })
                    @Html.ValidationMessageFor(modelItem => item.ReportDevice, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Startdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastDateWithData)
                </td>
            </tr>

                    }
                }
            </table>
            <div class="sy-stats">
                <hr />
                <h5>API Call Statistieken</h5>
                <table class="sy-dagrpt">
                    @if (Model.Devicelijst != null)
                    {
                        var i = 0;

                        foreach (var item in Model.Devicelijst)
                        {
                            if (i == 0)
                            {
                                <tr>
                                    <th>@Html.DisplayNameFor(modelItem => item.DeviceType)</th>
                                    <th>@Html.DisplayNameFor(modelItem => item.Total_API_Calls)</th>
                                    <th>
                                        @Html.DisplayNameFor(modelItem => item.Total_API_Calls_Success)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(modelItem => item.Total_API_Calls_Retried)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(modelItem => item.Total_Retries)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(modelItem => item.Total_API_Calls_Failed)
                                    </th>
                                </tr>
                            }
                            i = i + 1;
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.DeviceType)</td>
                                <td>@Html.DisplayFor(modelItem => item.Total_API_Calls)</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Total_API_Calls_Success)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Total_API_Calls_Retried)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Total_Retries)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Total_API_Calls_Failed)
                                </td>

                            </tr>

                        }
                    }
                </table>
            </div>
            <hr />
            <p>&nbsp;</p>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <dl class="sy-dl">
            <dt class="sy-dt">
                @Html.LabelFor(model => model.Rapportagestringdatum)
            </dt>
            <dd class="sy-dd">
                @Html.EditorFor(model => model.Rapportagestringdatum, new { htmlAttributes = new { @class = "sy-input", @autofocus = "autofocus" } })
                @Html.ValidationMessageFor(model => model.Rapportagestringdatum, "", new { @class = "text-danger" })
            </dd>
            <dt class="sy-dt">
                @Html.LabelFor(model => model.ReferentieJaren)
            </dt>
            <dd class="sy-dd">
                @Html.EditorFor(model => model.ReferentieJaren, new { htmlAttributes = new { @class = "sy-input40" } })
                @Html.ValidationMessageFor(model => model.ReferentieJaren, "", new { @class = "text-danger" })
            </dd>

        </dl>
            <div class="smp-inc">
                @Html.EditorFor(model => model.IncludeGas)
                @Html.EditorFor(model => model.IncludeStroom)
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" formaction="/Home/MaandRapport" value="Refresh" class="sy-button" />
                </div>
            </div>
        </div>
        }
    <div>

        @if (Model.Devicelijst != null)
        {
            foreach (var item in Model.Devicelijst)
            {
                if ((item.ReportDevice) && (item.MaandRapport.Count != 0))
                {
                    <p>&nbsp;</p>
                    <h1 id="@(item.DeviceType)">
                        @Html.DisplayFor(modelItem => item.ReportType)
                        - Overzicht tot en met
                        @Html.DisplayFor(modelItem => item.RapportageDatum)
                    </h1>

                    @:<table class="sy-dagrpt">
                        var i = 0;
                        foreach (var item2 in item.MaandRapport)
                        {
                            if (i == 0)
                            {
                                <tr>
                                    <th>
                                        @Html.DisplayFor(modelItem => item2.Jaar)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item2.Attribuut)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item2.Eenheid)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item2.Totaal)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item2.Maand01)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item2.Maand02)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item2.Maand03)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item2.Maand04)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item2.Maand05)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item2.Maand06)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item2.Maand07)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item2.Maand08)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item2.Maand09)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item2.Maand10)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item2.Maand11)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item2.Maand12)
                                    </th>

                                </tr>
                                {
                                    <tr style="border-bottom:5px solid black">
                                        <td colspan=12></td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item2.Jaar)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item2.Attribuut)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item2.Eenheid)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item2.Totaal)
                                    </td>
                                    <td class="sy-use">
                                        @Html.DisplayFor(modelItem => item2.Maand01)
                                        @Html.HiddenFor(modelItem => item2.Level01, new { @class = "sy-level" })
                                    </td>
                                    <td class="sy-use">
                                        @Html.DisplayFor(modelItem => item2.Maand02)
                                        @Html.HiddenFor(modelItem => item2.Level02, new { @class = "sy-level" })
                                    </td>
                                    <td class="sy-use">
                                        @Html.DisplayFor(modelItem => item2.Maand03)
                                        @Html.HiddenFor(modelItem => item2.Level03, new { @class = "sy-level" })
                                    </td>
                                    <td class="sy-use">
                                        @Html.DisplayFor(modelItem => item2.Maand04)
                                        @Html.HiddenFor(modelItem => item2.Level04, new { @class = "sy-level" })
                                    </td>
                                    <td class="sy-use">
                                        @Html.DisplayFor(modelItem => item2.Maand05)
                                        @Html.HiddenFor(modelItem => item2.Level05, new { @class = "sy-level" })
                                    </td>
                                    <td class="sy-use">
                                        @Html.DisplayFor(modelItem => item2.Maand06)
                                        @Html.HiddenFor(modelItem => item2.Level06, new { @class = "sy-level" })
                                    </td>
                                    <td class="sy-use">
                                        @Html.DisplayFor(modelItem => item2.Maand07)
                                        @Html.HiddenFor(modelItem => item2.Level07, new { @class = "sy-level" })
                                    </td>
                                    <td class="sy-use">
                                        @Html.DisplayFor(modelItem => item2.Maand08)
                                        @Html.HiddenFor(modelItem => item2.Level08, new { @class = "sy-level" })
                                    </td>
                                    <td class="sy-use">
                                        @Html.DisplayFor(modelItem => item2.Maand09)
                                        @Html.HiddenFor(modelItem => item2.Level09, new { @class = "sy-level" })
                                    </td>
                                    <td class="sy-use">
                                        @Html.DisplayFor(modelItem => item2.Maand10)
                                        @Html.HiddenFor(modelItem => item2.Level10, new { @class = "sy-level" })
                                    </td>
                                    <td class="sy-use">
                                        @Html.DisplayFor(modelItem => item2.Maand11)
                                        @Html.HiddenFor(modelItem => item2.Level11, new { @class = "sy-level" })
                                    </td>
                                    <td class="sy-use">
                                        @Html.DisplayFor(modelItem => item2.Maand12)
                                        @Html.HiddenFor(modelItem => item2.Level12, new { @class = "sy-level" })
                                    </td>
                                </tr>
                            }
                            i++;
                        }
                    @:</table>
                    <p> &nbsp;</p>
                    <p>
                        Forecast voor de laatste maand (@Html.DisplayFor(modelItem => item.LastMonthName)):
                        <span class="sy-use">
                            @Html.DisplayFor(modelItem => item.LastMonthForecast)
                            @Html.HiddenFor(modelItem => item.LastMonthLevel, new { @class = "sy-level" })
                        </span>
                        @Html.DisplayFor(modelItem => item.Eenheid)
                    </p>
                    <p> &nbsp;</p>
                    <h2 class="smp-title">
                        @Html.DisplayFor(modelItem => item.ReportType)
                        - Meterstanden per eerste van elke maand
                    </h2>                    
                    @:<table class="sy-dagrpt">
                        var j = 0;
                        foreach (var item2 in item.Meterstanden)
                        {
                            if (j == 0)
                            {
                                <tr>
                                    <th>
                                        @Html.DisplayFor(modelItem => item2.Jaar)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item2.Eenheid)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item2.Maand01)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item2.Maand02)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item2.Maand03)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item2.Maand04)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item2.Maand05)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item2.Maand06)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item2.Maand07)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item2.Maand08)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item2.Maand09)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item2.Maand10)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item2.Maand11)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => item2.Maand12)
                                    </th>

                                </tr>
                                {
                                    <tr style="border-bottom:5px solid black">
                                        <td colspan=12></td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item2.Jaar)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item2.Eenheid)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item2.Maand01)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item2.Maand02)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item2.Maand03)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item2.Maand04)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item2.Maand05)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item2.Maand06)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item2.Maand07)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item2.Maand08)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item2.Maand09)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item2.Maand10)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item2.Maand11)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item2.Maand12)
                                    </td>
                                </tr>
                            }

                            j++;
                        }
                    @:</table> <p> &nbsp;</p>
                    <p> &nbsp;</p>
                    <p> &nbsp;</p>
                    <p> &nbsp;</p>
                    <p> &nbsp;</p>
                    <p> &nbsp;</p>
                    <p> &nbsp;</p>

                }
            }
        }


    </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</div>
